name: Create builder Docker Image
run-name: Create builder Docker Image
on: workflow_dispatch
jobs:
  create-images:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build x86_64
        run: |
          docker build -t ghcr.io/browsers-software/cross-x86_64-unknown-linux-gnu-gtk:latest - < cross/Dockerfile.linux_x86_64
          docker push ghcr.io/browsers-software/cross-x86_64-unknown-linux-gnu-gtk:latest
      - name: Build aarch64
        run: |
          docker build -t ghcr.io/browsers-software/cross-aarch64-unknown-linux-gnu-gtk:latest - < cross/Dockerfile.linux_aarch64
          docker push ghcr.io/browsers-software/cross-aarch64-unknown-linux-gnu-gtk:latest
      - name: Build armv7
        run: |
          docker build -t ghcr.io/browsers-software/cross-armv7-unknown-linux-gnu-gtk:latest - < cross/Dockerfile.linux_armv7
          docker push ghcr.io/browsers-software/cross-armv7-unknown-linux-gnu-gtk:latest
